body {
  font-family: source sans pro;
  color: white;
  font-size: 24px;
}
.purple {
  background-color: #9B66C1;
}
.teal {
  background-color: #6ed3cf;
}
a {
  text-decoration: none;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
